@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto', sans-serif;
    background-color: #f7fbfc;
    color: #0b2545;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 60px;

    background-color: #ffffff;
    border-bottom: 1px solid #dceff5;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0b2545;
    text-decoration: none;
}

.logo img {
    width: 70px;
    height: 40px;
}

.logo span {
    font-family: 'Mansalva', cursive;
    font-size: 24px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #134b70;
    font-weight: 500;
        font-family: 'Mansalva', cursive;

}

nav a:hover {
    color: #176b87;
}

main {
    padding: 60px;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: 'Noto Serif', serif;
}

.hero img {
    width: 180px;
    margin-bottom: 20px;
}